/* share styles */

.color_1 {
    color: #0D1321;
}

.azeret {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}



.header nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 150px;

}

.nav_heading {

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 800;
    font-style: normal;
    color: #0D1321;

}

.nav_btn {
    border-radius: 8px;
    text-align: center;
    background-color: white;
    padding: 17px;
}

.nav_btn a {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    color: #0D1321;



}

/* end of heading- */

/* main start from hare */
.main_div {
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    padding: 25px;
    margin: 10px;
    background-position: center;


}

.sub_main {
    text-align: center;
    margin-top: 26px;
    width: 998px;
    height: 580px;
    margin: 0 auto;
}

.main_pic {
    width: 240;
    height: 240;
}

.main_h1 {
    font-weight: 800;
    font-size: 48px;
}

.main_pera {

    color: #0D1321;
    font-weight: 400;
}

.main_btn {
    font-weight: 600;
    background-color: #0D1321;
    border-radius: 10px;

}

.main_btn a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 24px;
}