/* share styles */
h1,
a,
p {
    font-family: "Azeret Mono", monospace;
}

.color_1 {
    color: #0D1321;
}

.azeret {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}



.header nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 150px;

}

.nav_heading {

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 800;
    font-style: normal;
    color: #0D1321;

}

.nav_btn {
    border-radius: 8px;
    text-align: center;
    background-color: white;
    padding: 17px;
}

.nav_btn a {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    color: #0D1321;
}

/* end of heading- */

/* main start from hare */
.main_div {
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    padding: 25px;
    margin: 10px;
    background-position: center;
}

.sub_main {
    text-align: center;
    margin-top: 26px;
    width: 998px;
    height: 580px;
    margin: 0 auto;
}

.main_pic {
    width: 240;
    height: 240;
}

.main_h1 {
    font-weight: 800;
    font-size: 48px;
}

.main_pera {
    color: #0D1321;
    font-weight: 400;
}

.main_btn {
    font-weight: 600;
    background-color: #0D1321;
    border-radius: 10px;

}

.main_btn a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 24px;
}

/* why we dep */
.main {
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    background-color: rgba(13, 19, 33, .02);
}

.ww {
    padding: 80px 150px;
}

.ww_title {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.ww_pera {
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
    padding-top: 24px;
}


/* ..............   ` */
.l_hlaf {
    width: 500px;
    text-align: left;
}

.first_sec {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 20px 90px;
    /* border: red solid 1px; */
    background-color: white;
    padding: 40px;
}

.first_h1 {
    text-align: left;
    width: 400px;
    font-weight: 600;
    font-size: 24px;
    color: #0D1321;
}

.first_pera {
    font-size: 16;
    font-weight: 400;
}

.first_btn {
    padding: 15px;
}

.first_btn a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;

}

/* my inspiration */
.inspa {
    margin-top: 90px;
}

.my_inspa {

    text-align: center;
    margin: 0 auto;
    max-width: 850px;
}

.my_inspa_h1 {
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}

.my_inspa_p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.my_inspa_v {
    padding: 20px;
    border-radius: 15px;
    border: solid rgba(13, 19, 33, .2) 1px;
}

/* my current targets
 */
.target_h1 {
    font-weight: 800;
    font-size: 32;
    color: #0D1321;
}

.target_p {
    font-weight: 400;
    font-size: 16;
    color: #0D1321;
}

.skills {

    display: flex;
    gap: 24px;
    text-align: left;

}

.sk_names {
    margin: 0 auto;
    max-width: 364px;
    padding: 40px;
    border-radius: 16px;
}

.A1 {
    background-color: rgba(255, 76, 30, .05);
}

.A2 {
    background-color: rgba(0, 76, 232, 0.05);
}

.A3 {
    background-color: rgba(255, 223, 0, 0.05);
}


/* my next targets */
.next_target_con {
    text-align: left;

}

.item {
    padding: 40px;
    display: flex;
    align-items: center;
    border: rgba(0, 76, 232, 0.2) solid 1px;
    border-radius: 16px;
    margin: 24px;
}

.item_img {
    width: 94px;
    height: 94px;
    padding: 24px;
}

.item_ds {
    padding: 24px;
    margin-left: 15px;
}

.link {
    font-weight: 600;
    color: #0D1321;
    font-size: 16;
    text-decoration: underline;
}

/* support start */
.container {
    background-image: url("/assets/handshake.jpg");
    padding-top: 64px;
    width: 1140px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;

}

.sup_h1 {
    font-weight: 600;
    font-size: 32px;
    color: white;
}

.sup_p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.719);
    width: 400px;
    margin: 14px auto;
}

.inpu {
    font-size: 15px;
    font-weight: 400;
    width: 548px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.submit {
    font-size: 15px;
    font-weight: 800;
    width: 120px;
    height: 60px;
    padding: 15px;
    border-radius: 10px;
}

/* footer */
.footer {
    background-color: rgba(13, 19, 33, .03);
    display: flex;

    justify-content: space-between;
    padding: 40px 20px;
}

.f_p {
    font-weight: 600;
    color: #0D1321;
    font-size: 20px;
    padding-left: 10px;
}

.icons img {
    padding: 15px;
}